multiprocess
numpy
pytorch-transformers
tensorboardX
torch
scipy                                                                                                                               
sentence-transformers
sklearn
rouge
nltk
statistics
transformers